# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
venv/
env/

# Logs
*.log

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache
.cache/
